body {
    font-family: 'Noto Sans KR', sans-serif;
    padding-bottom: 40px;
    background-color: #fdfdfd

    ;
}

.wrap {
    width: 90%;
    margin: auto;
}

.title_line {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
}


.wrap_pics {
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 70px;
}

.nav_left {
    display: flex;
    align-items: center;
}

.introducing-box {
    display: none;
    width: 80%;
    margin: 20px auto 30px auto;
    border: 3px solid black;
    border-radius: 10px;
    padding: 40px;
    
}

.two_images {
    height: auto;
    padding: 10px;
    width: 100%;
}
.two_images a {
    text-decoration: none;
    color: black;
}
.two_images a p {
    display: inline-block
}


.card-img-bottom {
    border-radius: 6px;
    height: auto;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
    transition: transform 0.5s ease-in-out;
}

.card-img-bottom:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-8px);
}

button{
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.introduce{
    margin: auto;
    width: 85%;
    justify-self: left;
    text-align: center;
    margin-bottom: 30px;
}
.introduce_btn {
    font-size: 30px;
    border: none;

}
.nav_right{
    display: flex;
    align-items: center;
}
.login_btn {
    font-size: 20px;
    border: none;
}
.logOut{
    display: none;
    padding-left: 10px;
}
.login{
    padding-left: 10px;
}
.signUp {
    padding-right: 10px; 
    border-right: 1px double black;
}
.signUp_btn{
    
    border: none;
    border-radius: 0;
    
    font-size: 20px;
    
}
.signUp_btn:hover {
    font-weight: bold;
}
.introduce_btn:hover {
    font-weight: bold;
}
.login_btn:hover{
    font-weight: bold;
}
.introducing-box{
    margin: auto;
    width: 480px;
    margin-top: 40px;
    border-radius: 5px;
    border: 3px black solid;
}
.introducing-box-content {
    text-align: center;
    font-size: 20px;
}
.introducing-box-content span{
    display: block;
    margin-bottom: 10px;
}

.main_container_login{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid;
    z-index: 1;
    background-color: white;
}

.main_container_signUp{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid;
    z-index: 2;
    background-color: white;
}
.review_container{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid;
    z-index: 1;
    background-color: white;
    width: 380px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.review_container_box{
    width: 90%; 
    height: auto;
    padding: 20px; 
    margin: auto; 
    border-radius: 3px; 
    
}

.review_header{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.review_title{
    margin-bottom: 30px;
}
.review_title label{
    display: block;
    margin-bottom: 12px;
}
.review_title input {
    display: block;
    width: 90%;
    margin: auto;
    border: 1px black solid;
    border-radius: 4px;
    font-size: 15px;
    padding: 4px;
}
.review_comment{
    margin-bottom: 30px;
}
.review_comment label{
    display: block;
    margin-bottom: 12px;
}
.review_comment textarea{
    display: block;
    width: 90%;
    margin: auto;
    border: 1px black solid;
    border-radius: 4px;
    font-size: 15px;
    padding: 4px;
}
.review_title input, .review_comment textarea{
    padding: 5px 8px;
}
.submit_btn{
    text-align: center;
}
.submit_btn button{
    font-size: 15px;
    padding: 6px 12px;
    color: white;
    border: none;
    background-color: #34A853;
}
.submit_btn button:hover{
    font-weight: bold;
}
.review-list{
    position: absolute;
    display: none;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    border: 0px solid;
    z-index: 1;
    background-color: white;
    width: 85%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 30px 30px;
    border-radius: 12px;
    background-color: #e8eaf6;
}
.review-head{
    font-size: 20px;
    text-align: center;
}
.review-head h2{
    margin-bottom: 30px;
    margin-top: 0px;
}
.review-table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}
thead th:nth-child(1){
    width: 15%
}
thead th:nth-child(2){
    width: 20%;
}
thead th:nth-child(3){
    width: 65%;
}
td, th {
    padding: 4px 8px;
}
th {
    font-size: 20px;
}
thead {
    background-color: #9fa8da;
}
tbody{
    background-color: white;
}
.close_button{
    position: absolute;
    right: 12px;
    top: 10px;
}
.close_button button{
    padding: 0px 8px;
    padding-bottom: 2px;
    font-size: 20px;
    border: 0.2px rgb(126, 125, 125) solid;
    border-radius: 20px;
    color: rgb(68, 67, 67);
}

.close_button button:hover{
    border: none;
    color: white;
    background-color: #E94235;
}

table, th, td {
    border: 1px solid black;
  }

.signUp_container{
    width: 380px; 
    height: 520px; 
    margin: auto; 
    border-radius: 3px; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: transform 0.5s ease-in-out;
}
.login_container{
    width: 380px; 
    height: auto;
    padding-bottom: 30px; 
    margin: auto; 
    border-radius: 3px; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.form_container{
    width: 300px;
    margin: auto;
}

.form_title_div{
    margin: auto; 
    text-align: center;
}

.form_title_p{
    font-weight: bold; 
    font-size: 22px; 
    display: inline-block; 
    padding-top: 8px;
}
.id_input{
    display: flex;
    justify-content: space-between;
}
.id_input input{
    width: 70%;
    padding: 4px 8px;
    height: 30px; 
    border: 1px solid; 
    border-radius: 3px; 
    border-color: gray;
}
.id_input button{
    font-weight: bold;
    border-color: gray;
}


.id_input button:hover{
    border-color: #34A853;
    background: #34A853;
    color: white;
}


.form_input{
    width: 94%; 
    height: 30px; 
    padding: 4px 8px;
    border: 1px solid; 
    border-radius: 3px; 
    border-color: gray;
}

.form_item_name{
    color: rgb(82, 81, 81);
}

.form_text_alert{
    height: 30px;
    font-size: 13px;
}

.form_text_alert_padding{
    padding-bottom: 10px;
}

.form_Login_button{
    width: 100%; 
    height: 44px; 
    background-color: #34A853; 
    border: 1px; 
    border-radius: 3px; 
    color: white; 
    font-size: 20px; 
    font-weight: 500;
    cursor: pointer;
}

.form_submit_button{
    width: 100%; 
    height: 44px; 
    background-color: #E94235; 
    border: 1px; 
    border-radius: 3px; 
    color: white; 
    font-size: 20px; 
    font-weight: 500;
    cursor: pointer;
}

.culture-box {
    display: flex;
    align-items: center;
}

.card-padding {
    padding: 2px;
    border: solid 1px grey;
}

.red-text {
    color: red;
}
.card-columns{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;;
}
.card{
    border-radius: 4px;
    display: grid;
    grid-template-rows: 400px max-content max-content;
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    background-color: white;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-8px);
  }
.card-img-Top{
    width: 100%;
    object-fit: cover;
}
.card-img{
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.card-body{
    padding: 1rem;
    background-color: white;
}
.card-title{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}
.loc-detail{
    font-size: 14px;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(102, 101, 101);
}
.middle-line{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.middle-line-left{
    font-size: 40px;
}
.middle-line-left a{
    color: rgb(92, 91, 91);
    text-decoration: none;
    font-size: 20px;
}
.middle-line-left a:hover{
    font-weight: bold;
}
.middle-line-right button{
    border: none;
    border-radius: 0;
    font-size: 20px;
}
.middle-line-right button:hover{
    font-weight: bold;
    text-decoration: underline;
}
.review_btn{
    padding-right: 10px;
    border-right: 1px black solid;
}
.reviewSubmit_btn{
    padding-left: 10px;
}
@media screen and (max-width: 700px){
    .wrap_pics{
        flex-direction: column;
    }
    .middle-line-left{
        font-size: 24px;
    }
    .middle-line-left a{
        font-size: 15px;
    }
    .middle-line-right button{
        font-size: 17px;
    }
    .introducing-box{
        width: 350px;
    }
    .introducing-box-content{
        font-size: 16px;
    }
}

