<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>공유문화 | 전시 공연 정보 길잡이</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <script type="text/javascript">

        function openclose_introduce() {
            let status = $('#intro-box').css('display');
            if (status == 'block') {
                $('#intro-box').hide()
            } else {
                $('#intro-box').show()
            }
        }
        function openclose_signUp(){
            let status = $('#sign_box').css('display');
            if (status == 'block') {
                $('#sign_box').hide()
            } else {
                $('#sign_box').show()
            }
        }
        function openclose_login(){
            let status = $('#login_box').css('display');
            if (status == 'block') {
                $('#login_box').hide()
            } else {
                $('#login_box').show()
            }
        }

    </script>

    <style type="text/css">
        body {
            font-family: 'Noto Sans KR', sans-serif;
            padding-bottom: 40px;
        }

        .wrap {
            width: 90%;
            margin: auto;
        }

        .title_line {
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 70px;
        }


        .wrap_pics {
            display: flex;
            width: 85%;
            margin: auto;
            margin-top: 70px;
        }

        .culture-box {
            display: flex;
            align-items: center;
        }

        .introducing_box {
            display: none;
            width: 80%;
            margin: 20px auto 30px auto;
            border: 3px solid black;
            border-radius: 10px;
            padding: 40px;

        }

        button {
            background-color: transparent;
            border-radius: 4px;
            cursor: pointer;
            outline: none;
        }

        .introduce_btn {
            font-size: 30px;
            border: none;

        }

        .login_btn {
            font-size: 20px;
            padding: 4px 8px;
        }

        .introduce_btn:hover {
            font-weight: bold;
        }

        .login_btn:hover {
            font-weight: bold;
        }

        .introducing-box-content {
            text-align: center;
        }

        .card-padding {
            padding: 2px;
            border: solid 1px grey;
        }

        .red-text {
            color: red;
        }
    </style>
    <script>
        $(document).ready(function () {
            showInfos();
            });
        function showInfos() {
            $.ajax({
                type: "GET",
                url: "/artshow",
                data: {},
                success: function (response) {
                    let infos = response['all_blogs']
                    for (let i = 0; i < infos.length; i++) {
                        let image = infos[i]['image']
                        let url = infos[i]['url']
                        let title = infos[i]['title']
                        let date = infos[i]['date']
                        let loc = infos[i]['loc']
                        let loc_detail = infos[i]['loc_detail']
                        let temp_html = `<div class="card" class="card-padding">
                                            <div class="card-img">
                                                <a href="${url}">
                                                    <img class="card-img-Top"
                                                        src="${image}"
                                                        alt="image">
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <a target="_blank" href="${url}" class="card-title">${title}</a>
                                                <hr style="border: solid 1px grey;"">
                                                <div class="card-text">${date}</div>
                                                <hr style="border: solid 1px grey;">
                                            </div>
                                            <div class="card-footer">
                                                <div class="card-text" class="red-text">${loc}</div>
                                                <div class="card-text">${loc_detail}</div>
                                            </div>
    
                                        </div>`
                        $('#cards-box').append(temp_html)
                    }
                    //console.log(articles)
                    //alert(response["msg"]);
                }
            })
        }
    </script>

</head>

<body>
    <div class="wrap">
        <div class = "title_line">
            <div class="nav_left">
                <a href="#">
                    <img class="card-img-top"
                    src="{{url_for('static', filename='share_culture.jpg')}}" alt="Card image cap" width="80px" height="80px">
                </a>
                <div class="introduce">
                    <button onclick="openclose_introduce()" id="btn-introducing-box" class="introduce_btn btn" href="#" role="button">사이트 소개</button>
                </div>
            </div>
            <div class="nav_right">
                <div class="signUp">
                    <button href="#" class="signUp_btn btn" role="button" aria-pressed="true" onclick="openclose_signUp()">회원가입</button>
                </div>  
                <div class="login">
                    <button href="#" class="login_btn btn" role="button" aria-pressed="true" onclick="openclose_login()">로그인</button>
                </div>            
            </div>
        </div>

        <div class="card-columns" id="cards-box">
            
        </div>
        <div id="login_box" class="main_container_login">
            <div class="login_container">
                <div class="form_container">
                    <form name="login_form" action="/cookie" method="get">
                        <div class="form_title_div">
                            <p class="form_title_p">로그인</p>
                        </div>
                        <div>
                            <div>
                                <label class="form_item_name" for="Email">이메일</label>
                                <input type="text" name="email" placeholder="E-mail" class="form_input"/>
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="alert_email" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label class="form_item_name" for="psw">비밀번호</label>
                                <input  type="password" name="password" placeholder="Enter password" class="form_input" />
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="alert_password" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div>
                            <button type="button" class="form_Login_button" onclick="login()">로그인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="sign_box" class="main_container_signUp">
            <div class="signUp_container">
                <div class="form_container">
                    <form name="login_form" action="/cookie" method="get">
                        <div class="form_title_div">
                            <p class="form_title_p">회원가입</p>
                        </div>
                        <div>
                            <div>
                                <label class="form_item_name" for="userName">이름</label>
                                <input type="text" id="userName" name="username" placeholder="name" class="form_input"/>
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="alert_username" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label class="form_item_name" for="Email">이메일</label>
                                <input type="text" id="Email" name="email" placeholder="E-mail" class="form_input"/>
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="alert_email" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label class="form_item_name" for="psw">비밀번호</label>
                                <input id="psw" type="password" name="password" placeholder="Enter password" class="form_input" />
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="alert_password" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label class="form_item_name" for="confirm_psw">비밀번호 확인</label>
                                <input  id="confirm_psw" type="password" name="password2" onfocus="" placeholder="Enter password again" class="form_input" />
                            </div>      
                            <div class="form_text_alert_padding">
                                <div id="alert_password2" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div>
                            <button type="button" class="form_submit_button" onclick="login()">회원가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>