<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>공유문화 | 전시 공연 정보 길잡이</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JS -->
    
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer type="text/javascript" src="{{url_for('static', filename='login.js')}}"></script>
    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
    </script>
    <script>

        function openclose_introduce() {
            let status = $('#intro-box').css('display');
            if (status == 'block') {
                $('#intro-box').hide()
            } else {
                $('#intro-box').show()
            }
        }
        function openclose_signUp(){
            let status = $('#sign_box').css('display');
            if (status == 'block') {
                $('#sign_box').hide()
            } else {
                $('#sign_box').show()
            }
        }
        function openclose_login(){
            let status = $('#login_box').css('display');
            if (status == 'block') {
                $('#login_box').hide()
            } else {
                $('#login_box').show()
            }
        }

        function hover1(element) {
    element.setAttribute('src', '{{url_for('static', filename='kong2_text.jpg')}}');
    }

    function unhover1(element) {
    element.setAttribute('src', '{{url_for('static', filename='kong2_notext.jpg')}}');
    }

    function hover2(element) {
    element.setAttribute('src', '{{url_for('static', filename='kong1_text.jpg')}}');
    }

    function unhover2(element) {
    element.setAttribute('src', '{{url_for('static', filename='kong1_notext.jpg')}}');
    }

    </script>
</head>
<body>
    <div class="wrap">
        <div class = "title_line">
            <div class="nav_left">
                <a href="#">
                    <img class="card-img-top"
                    src="{{url_for('static', filename='share_culture.jpg')}}" alt="Card image cap" width="80px" height="80px">
                </a>
                <div class="introduce">
                    <button onclick="openclose_introduce()" id="btn-introducing-box" class="introduce_btn btn" href="#" role="button">사이트 소개</button>
                </div>
            </div>
            <div class="nav_right">
                <div class="signUp">
                    <button href="#" class="signUp_btn btn" role="button" aria-pressed="true" onclick="openclose_signUp()">회원가입</button>
                </div>  
                <div class="login">
                    <button href="#" class="login_btn btn" role="button" aria-pressed="true" onclick="openclose_login()">로그인</button>
                </div>            
            </div>
        </div>

        <div class="introducing-box" id="intro-box">
            <p class="introducing-box-content">
                우리 사이트는 우리나라에 있는 전시와 공연 정보를 모아 전달해드립니다.<br>
                관심 있는 전시와 공연은 놓치지 마세요!
            </p>     
        </div>
        <div class="wrap_pics">
            <div class="two_images">
                <a class="two_images_artShow" href="{{ url_for('artShow')}}">
                    <img class="card-img-bottom"
                    src="{{url_for('static', filename='kong2_notext.jpg')}}"
                    alt="Card image cap" onmouseover="hover1(this);" onmouseout="unhover1(this)">
                </a>
                
            </div>
            <div class="two_images">
                <a class="two_images_performance" href="{{ url_for('performance')}}">
                    <img class="card-img-bottom"
                    src="{{url_for('static', filename='kong1_notext.jpg')}}"
                    alt="Card image cap" onmouseover="hover2(this)" onmouseout="unhover2(this)">
                </a>          
            </div>
        </div>   
    </div>
    <div id="login_box" class="main_container_login">
        <div class="login_container">
            <div class="form_container">
                <form name="login_form" action="/cookie" method="get">
                    <div class="form_title_div">
                        <p class="form_title_p">로그인</p>
                    </div>
                    <div>
                        <div>
                            <label class="form_item_name" for="Email">이메일</label>
                            <input type="text" name="email" placeholder="E-mail" class="form_input"/>
                        </div>
                        <div class="form_text_alert_padding">
                            <div id="alert_email" class="form_text_alert"></div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="form_item_name" for="psw">비밀번호</label>
                            <input  type="password" name="password" placeholder="Enter password" class="form_input" />
                        </div>
                        <div class="form_text_alert_padding">
                            <div id="alert_password" class="form_text_alert"></div>
                        </div>
                    </div>
                    <div style="height: 10px;"></div>
                    <div>
                        <button type="button" class="form_Login_button" onclick="login()">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="sign_box" class="main_container_signUp">
        <div class="signUp_container">
            <div class="form_container">
                <form name="login_form" action="/cookie" method="get">
                    <div class="form_title_div">
                        <p class="form_title_p">회원가입</p>
                    </div>
                    <div>
                        <div>
                            <label class="form_item_name" for="userName">이름</label>
                            <input type="text" id="userName" name="username" placeholder="name" class="form_input"/>
                        </div>
                        <div class="form_text_alert_padding">
                            <div id="alert_username" class="form_text_alert"></div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="form_item_name" for="Email">이메일</label>
                            <input type="text" id="Email" name="email" placeholder="E-mail" class="form_input"/>
                        </div>
                        <div class="form_text_alert_padding">
                            <div id="alert_email" class="form_text_alert"></div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="form_item_name" for="psw">비밀번호</label>
                            <input id="psw" type="password" name="password" placeholder="Enter password" class="form_input" />
                        </div>
                        <div class="form_text_alert_padding">
                            <div id="alert_password" class="form_text_alert"></div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="form_item_name" for="confirm_psw">비밀번호 확인</label>
                            <input  id="confirm_psw" type="password" name="password2" onfocus="" placeholder="Enter password again" class="form_input" />
                        </div>      
                        <div class="form_text_alert_padding">
                            <div id="alert_password2" class="form_text_alert"></div>
                        </div>
                    </div>
                    <div style="height: 10px;"></div>
                    <div>
                        <button type="button" class="form_submit_button" onclick="login()">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>