<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function sign_in() {
            let username = $("#input-username").val()
            let password = $("#input-password").val()

            if (username == "") {
                $("#help-id-login").text("아이디를 입력해주세요.")
                $("#input-username").focus()
                return;
            } else {
                $("#help-id-login").text("")
            }

            if (password == "") {
                $("#help-password-login").text("비밀번호를 입력해주세요.")
                $("#input-password").focus()
                return;
            } else {
                $("#help-password-login").text("")
            }
            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {
                    username_give: username,
                    password_give: password
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token'], {path: '/'});
                        alert("로그인 되었습니다.")
                        window.location.reload()
                    } else {
                        alert(response['msg'])
                    }
                }
            });
        }
        function close_login(){
            $('#login_box').hide()
        }
    </script>
</head>
<body>
    <div id="login_box" class="main_container_login">
        <div class="login_container">
            <div class="form_container">
                <form name="login_form" action="/cookie" method="get">
                    <div class="form_title_div">
                        <p class="form_title_p">로그인</p>
                    </div>
                    <div>
                        <div>
                            <label class="form_item_name" for="input-username">아이디</label>
                            <input id="input-username" type="text" name="ID" placeholder="Enter ID" class="form_input"/>
                        </div>
                        <div class="form_text_alert_padding">
                            <div id="help-id-login" class="form_text_alert"></div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="form_item_name" for="input-password">비밀번호</label>
                            <input id="input-password"  type="password" name="password" placeholder="Enter password" class="form_input" />
                        </div>
                        <div class="form_text_alert_padding">
                            <div id="help-password-login" class="form_text_alert"></div>
                        </div>
                    </div>
                    <div style="height: 10px;"></div>
                    <div>
                        <button type="button" class="form_Login_button" onclick="sign_in()">로그인</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="close_button">
            <button type="button" onclick="close_login()">x</button>
        </div>
    </div>
</body>
</html>