<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>공유문화 | 전시 공연 정보 길잡이</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function openclose_signUp(){
            let status = $('#sign_box').css('display');
            if (status == 'block') {
                $('#sign_box').hide()
            } else {
                $('#sign_box').show()
            }
        }
        function openclose_login(){
            let status = $('#login_box').css('display');
            if (status == 'block') {
                $('#login_box').hide()
            } else {
                $('#login_box').show()
            }
        }
        function openclose_review(){
            let status = $('#review_box').css('display');
            if (status == 'block') {
                $('#review_box').hide()
            } else {
                $('#review_box').show()
            }
        }

    </script>

    <script>
        $(document).ready(function () {
            showInfos();
            });
        function showInfos() {
            $.ajax({
                type: "GET",
                url: "/performance",
                data: {},
                success: function (response) {
                    let infos = response['all_blogs']
                    for (let i = 0; i < infos.length; i++) {
                        let image = infos[i]['image']
                        let url = infos[i]['url']
                        let title = infos[i]['title']
                        let date = infos[i]['date']
                        let loc = infos[i]['loc']
                        let loc_detail = infos[i]['loc_detail']
                        let temp_html = `{% include 'card.html' %}`
                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }
    </script>

</head>

<body>
    <div class="wrap">
        <div class = "title_line">
            <div class="nav_left">
                <a href="{{ url_for('Home')}}">
                    <img class="card-img-top"
                    src="{{url_for('static', filename='share_culture.jpg')}}" alt="Card image cap" width="80px" height="80px">
                </a>
            </div>
            <div class="nav_right">
                <div class="signUp">
                    <button href="#" class="signUp_btn btn" role="button" aria-pressed="true" onclick="openclose_signUp()">회원가입</button>
                </div>  
                <div class="login">
                    <button href="#" class="login_btn btn" role="button" aria-pressed="true" onclick="openclose_login()">로그인</button>
                </div>            
            </div>
        </div>
        <div class="middle-line">
            <div class="middle-line-left">공연</div>
            <div class="middle-line-right">
                <button>리뷰</button>
                <button onclick="openclose_review()">리뷰 작성</button>
            </div>
        </div>
        <div class="card-columns" id="cards-box">

        </div>
    </div>
    {% include 'login.html' %}
    {% include 'sign_up.html' %}
    {% include 'review.html' %}
</body>