<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% for review in reviews %}
    <div class="review-list" id="review_box">
      <div class="review-head">리뷰</div>
      <table class="review-table">
        <thead>
          <tr>
            <th>이름</th>
            <th>작품</th>
            <th>리뷰</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ review['username'] }}</td>
            <td>{{ review['title'] }}</td>
            <td>{{ review['review'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</body>
</html>