.main_container_login{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid;
    z-index: 1;
    background-color: white;
}

.main_container_signUp{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid;
    z-index: 2;
    background-color: white;
}

.signUp_container{
    width: 380px; 
    height: 520px; 
    margin: auto; 
    border-radius: 3px; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.login_container{
    width: 380px; 
    height: auto;
    padding-bottom: 30px; 
    margin: auto; 
    border-radius: 3px; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.form_container{
    width: 300px;
    margin: auto;
}

.form_title_div{
    margin: auto; 
    text-align: center;
}

.form_title_p{
    font-weight: bold; 
    font-size: 22px; 
    display: inline-block; 
    padding-top: 8px;
}

.form_input{
    width: 98%; 
    height: 30px; 
    border: 1px solid; 
    border-radius: 3px; 
    border-color: gray;
}

.form_item_name{
    color: rgb(82, 81, 81);
}

.form_text_alert{
    height: 20px;
}

.form_text_alert_padding{
    padding-bottom: 10px;
}

.form_Login_button{
    width: 100%; 
    height: 44px; 
    background-color: #34A853; 
    border: 1px; 
    border-radius: 3px; 
    color: white; 
    font-size: 20px; 
    font-weight: 500;
    cursor: pointer;
}

.form_submit_button{
    width: 100%; 
    height: 44px; 
    background-color: #E94235; 
    border: 1px; 
    border-radius: 3px; 
    color: white; 
    font-size: 20px; 
    font-weight: 500;
    cursor: pointer;
}